<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flipneonvortex">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FlipNeonVortex"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlipNeonVortex">
        <activity
            android:name=".MainMenuActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FlipNeonVortex.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FlipNeonVortex.Fullscreen" />

        <activity
            android:name=".GameOverActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FlipNeonVortex.Fullscreen" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".TutorialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ShopActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>
